*{
    font-family: 'poppins Regular 400 Italic ',sans-serif;

}

.banner{
    background-image:url(../image/istockphoto-1314941457-170667a.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 250px;

}
.s-p{
    padding: 70px 0;
}

